<?xml version="1.0"?>
<!--
/**
 * Copyright © Wizzaro. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Option\Type\Filewithattachment" type="Wizzaro\MagentoFileWithAttachmentCustomOptionType\Model\Product\Option\Type\FileWithAttachment" />
    <type name="Magento\Catalog\Model\Product\Option">
        <plugin name="filewithattachment-product-option" type="Wizzaro\MagentoFileWithAttachmentCustomOptionType\Model\Product\OptionPlugin" />
    </type>
</config>
